<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plm.mapper.PlmMapper">
    <select id="zhongbiao"  resultType="java.util.Map">
        {call zhongbiao_info}
    </select>
    <select id="youshangTop"  resultType="java.util.Map">
        {call xiangmujl_TOP3}
    </select>
    <select id="youshangTwo"  resultType="java.util.Map">
        {call xiangmujl_zongnum_oknum_jxnum}
    </select>

    <select id="PojSum"  resultType="java.util.Map">
        select count(PRJ_PROJECTID) as projectnum,
               (select count(PRJ_STATUS) from dbo.projects where PRJ_STATUS=2) as weiprojectnum,
               count(PRJ_PROJECTID)-(select count(PRJ_STATUS) from dbo.projects where PRJ_STATUS=2) as weiwancheng,
               concat(convert(decimal(18,0),(cast((select count(PRJ_PROJECTID) from dbo.projects where PRJ_STATUS=2)as float)/cast(count(PRJ_PROJECTID) as float))*100),'%')  as baifenbi
        from dbo.projects
        where PRJ_ISTEMPLATE!=1
    </select>

    <select id="PojProportion"  resultType="java.util.Map">
        select B.PT_TYPENAME as name,COUNT(*) AS value
        from Projects a
                 LEFT JOIN ProjectType b on  a.PRJ_TYPEID = B.PT_TYPEID GROUP BY PT_TYPENAME
    </select>

    <select id="youxiaNo"  resultType="java.util.Map">
        select distinct PRJ_PROJECTNO as xiangmubianhao,
                        u.USERNAME as xiangmujinli,
                        PRJ_PROJECTNAME as xiangmuName,
                        PRJ_CLIENTNAME as kehuName,
                        case
                            when PRJ_STATUS=2 then '0'
                            else datediff(day,PRJ_STARTDATE,PRJ_FINISHDATE ) end as shenyutianshu,
                        concat(convert(decimal(18,0),PRJ_FINISHWORKLOAD*100),'%') as jindu
        from ProjectTeamMember pt
                 left join ProjectRole pr on pr.PR_ROLEID=pt.PTM_ROLEID
                 left join dbo.Projects pj on pj.PRJ_PROJECTID=pt.PTM_PROJECTID
                 left join dbo.Users u on u.USERID=pt.PTM_USERID
        where pr.PR_ROLEID=1 and USERNAME!='ADMIN' and USERNAME!='陶加雪'
        group by u.USERNAME,PRJ_PROJECTNO,PRJ_PROJECTNAME,PRJ_CLIENTNAME,PRJ_STARTDATE,PRJ_FINISHDATE,PRJ_STATUS,PRJ_FINISHWORKLOAD
    </select>

    <select id="youxiaTwo"  resultType="java.util.Map">
        SELECT   D.DC_DOCNO as nameCode ,
                 D.DC_DOCNAME as name,
                 D1.三个月预计订单量 as total , D1.预计结束时间 as endDate, D1.预计开始时间  as startDate
        FROM  DOCUMENT  D
                  inner JOIN Document1  D1 ON  D.DC_DOCID=D1.COL_DOCUMENTID WHERE D.DC_DOCCLASS =43
    </select>
</mapper>
